# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/
bin/

# NetBeans
nbproject/
nb-configuration.xml

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node / frontend (на всякий случай)
node_modules/
dist/
build/

# Docker
*.pid
